<div id="tab-{localeId}">
<table class="shadow grid" style="width: 100%;">
	<tbody>
		<tr>
			<th style="width: 150px;">Назва: </th>
			<td><input name="name_{localeId}" maxlength="100" value="{name}" style="width: 99%;" /></td>
		</tr>
		<tr>
			<th>Title для посилань: </th>
			<td><input name="title_{localeId}" maxlength="255" value="{title}" style="width: 99%;" /></td>
		</tr>
		<tr>
			<th>Анонс:</th>
			<td><div class="editor" id="brief_{localeId}" style="width: 100%; height: 60px;">{brief}</div></td>
		</tr>
		<tr>
			<th>Опис:</th>
			<td><div class="editor" id="description_{localeId}" style="width: 100%; height: 100px;">{description}</div></td>
		</tr>
		<tr>
			<th>&lt;META-теги&gt;: </th>
			<td><div class="editor" id="meta_{localeId}" style="width: 100%; height: 90px;">{?meta}{meta}{:meta}&lt;meta name="Description" content="" /&gt;
&lt;meta name="Keywords" content=""/&gt;{/meta}</div></td>
		</tr>
		<tr>
			<th>URL: </th>
			<td><input name="url_{localeId}" style="width:99%" maxlength="200" value="{url}" pattern="[\S]*" placeholder="Якщо не заповнений, формується автоматично" /></td>
		</tr>
		<tr>
			<th><label for="state_{localeId}">Показувати на сайті</label></th>
			<td><input type="checkbox" name="state_{locale_id}" id="state_{localeId}"{?state} checked="checked"{/state} /></td>
		</tr>
	</tbody>
</table>
</div>
