<h1>{h1}</h1>
<div style="width: 95%; margin: 0 auto;">
    <div id="stage-editor">
        <ul>
{?id}
            <li><a href="#stage-materials">Матеріали</a></li>
{/id}
            <li><a href="#stage-header">Редагування вправи</a></li>
        </ul>
        <div id="stage-header">
            <form method="post" name="mainForm" id="mainForm" enctype="multipart/form-data">
                <div style="padding: 25px;">
                <table class="shadow grid" style="width: 50%">
                    <tbody>
                        <tr>
                            <th style="width: 230px;"><label for="name">Назва (тільки для адміністратора)</label> &nbsp;</th>
                            <td><input name="name" id="name" value="{name}" maxlength="50" required="required" style="width: 95%;" /></td>
                        </tr>
                        <tr>
                            <th><label for="exercise_id">Тип вправи:</label></th>
                            <td>
{?id}
                            {exerciseName}
{:id}
                            <select name="exercise_id" id="exercise_id">
                               {exerciseItems}
                            </select>
{/id}
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div id="tabs">
                    <ul>{tabItems}</ul>
                    {tabContentItems}
                    <br />
                    <p style="text-align: center">
                        <input type="submit" value="Зберегти" /><br /><br />
                        Назад: <a href="/cms/course/list">Повернутися до списку курсів</a>
                    </p>
                    <input type="hidden" name="action" value="save" />
                    <input type="hidden" name="ret" value="0" />
                </div>
                <br /><br />
            </form>
        </div>
{?id}
        <div id="stage-materials">
            {?materialItems}
            <table class="shadow grid" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 30px;">&nbsp;</th>
                        <th>Назва</th>
                        {materialL10nHeaderItems}
                        <th style="width:40px;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {materialItems}
                </tbody>
            </table>
            {/materialItems}
            <a href="/cms/material/edit?stage_id={id}">Додати матеріал</a>
        </div>
{/id}
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
        $( "#stage-editor" ).tabs();
        $( "#tabs" ).tabs();
});
</script>

<style type="text/css">
	.ui-state-highlight {width: 120px; height: 148px; float: left; margin: 0 11px 11px 0;}
</style>
<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/initAce.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function() {
	initAce(document.getElementById("mainForm"));
});
</script>
