<h1>{h1}</h1>
<div style="width: 95%; margin: 0 auto;">
    <div id="stage-editor">
        <ul>
{?id}
            <li><a href="#stage-materials">Конфігурація і матеріали</a></li>
{/id}
            <li><a href="#stage-header">Редагування вправи</a></li>
        </ul>
        <form method="post" name="mainForm" id="mainForm" enctype="multipart/form-data">
            <div id="stage-header">
                <div style="padding: 25px;">
                <table class="shadow grid" style="width: 50%">
                    <tbody>
                        <tr>
                            <th style="width: 230px;"><label for="name">Назва (тільки для адміністратора)</label> &nbsp;</th>
                            <td><input name="name" id="name" value="{name}" maxlength="50" required="required" style="width: 95%;" /></td>
                        </tr>
                        <tr>
                            <th><label for="exercise_id">Тип вправи:</label></th>
                            <td>
{?id}
                            {exerciseName}
{:id}
                            <select name="exercise_id" id="exercise_id">
                               {exerciseItems}
                            </select>
{/id}
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div id="tabs">
                    <ul>{tabItems}</ul>
                    {tabContentItems}
                </div>
                <br /><br />
            </div>
{?id}
            <div id="stage-materials">
                <h2>Конфігурація</h2>
                <div class="editor" id="brief_{localeId}" style="width: 100%; height: 600px; border: 1px solid black;">{config}</div>
                <h2>Матеріали</h2>
                <table class="shadow grid" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Назва</th>
                            <th style="width:300px;">ID</th>
                            <th style="width: 420px;">Файли</th>
                            <th style="width:40px;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {materialItems}
                    </tbody>
                </table>
            </div>
{/id}
            <br />
            <p style="text-align: center">
                <input type="submit" value="Зберегти" /> &nbsp; &nbsp;
                <input type="submit" value="Зберегти та продовжити" onclick="document.n['return'].value='true';" /><br /><br />
                Назад: <a href="/cms/course/list">Повернутися до списку курсів</a>
            </p>

            <input type="hidden" name="action" value="save" />
            <input type="hidden" name="return" value="" />
        </form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
        $( "#stage-editor" ).tabs();
        $( "#tabs" ).tabs();
});
</script>

<style type="text/css">
	.ui-state-highlight {width: 120px; height: 148px; float: left; margin: 0 11px 11px 0;}
</style>
<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/initAce.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function() {
	initAce(document.getElementById("mainForm"));
});
</script>
