RewriteEngine On
Options +FollowSymlinks
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php


Order Allow,Deny
Allow from All

DirectoryIndex index.php

#php_value magic_quotes_gpc Off
